/* SKINS */
.mod-head-model-001{{{cns}}} {
    border-radius: 20px;
}
.mod-head-model-001-0550{{{cns}}} {
    background-image: url(/resources/heads/model-001/RecordStereo_Background.webp{{{ns}}});
    background-size: 345px 237px;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: Helvetica,Arial,Sans-serif;
    height: 237px;
    position: relative;
    width: 345px;
}

/* PORTS
================================================ */

.mod-head-model-001{{{cns}}} .mod-pedal-input {
    top: 86px;
}

/* THE AUTHOR */
.mod-head-model-001{{{cns}}} .mod-plugin-brand h1 {
    bottom: 90px;
    color: #fff;
    font-size: 14px;
    left: 54px;
    line-height: 1;
    margin: 0;
    position: absolute;
}

/* PLUGIN'S NAME */
.mod-head-model-001{{{cns}}} .mod-plugin-name h1 {
    bottom: 50px;
    color: #fff;
    font-size: 18px;
    left: 54px;
    line-height: 1;
    margin: 0;
    position: absolute;
}

/* CONTROLS */
.mod-head-model-001{{{cns}}} .mod-control-group {
    bottom: 149px;
    color: #fff;
    font-size: 10px;
    height: 73px;
    left: 100px;
    position: absolute;
    right: 14px;
    top: 120px;
}

.mod-head-model-001{{{cns}}} .mod-control-group > div {
    margin-right: 2px;
}

/* SWITCH ON/OFF GENERAL */
.mod-head-model-001{{{cns}}} .mod-switch {
    cursor: pointer;
    float: left;
    height: 128px;
    position: relative;
    margin-left: 2px;
    width: 135px;
}

.mod-head-model-001{{{cns}}} .mod-switch-image {
    background-image: url(/resources/switches/Record_button.webp{{{ns}}});
    background-position: left 0px;
    background-repeat: no-repeat;
    background-size: auto 128px;
    height: 128px;
    width: 135px;
    z-index: 4;
}

.mod-head-model-001{{{cns}}} .mod-switch-image.on {
    background-position: -128px 0px;
}

.mod-head-model-001{{{cns}}} .mod-switch-image.off {
    background-position: left 0px;
}

/* SWITCH ON/OFF - 0550 */
.mod-head-model-001-0550{{{cns}}} .mod-switch {
    width: 180px;
}

.mod-head-model-001{{{cns}}} .mod-led {
    float: left;
    height: 64px;
    overflow: hidden;
    position: absolute;
    margin-top: 50px;
    margin-left: -55px;
    text-align: center;
    width: 64px;
}

.mod-head-model-001{{{cns}}} .mod-led .mod-led-image {
    background-image: url(/resources/switches/LED.webp{{{ns}}});
    background-position: left 0px;
    background-repeat: no-repeat;
    background-size: auto 64px;
    position: absolute;
    margin-top: 5px;
    margin-left: 0px;
    height: 64px;
    width: 64px;
    z-index: 3;
}

.mod-head-model-001{{{cns}}} .mod-led .mod-led-title {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10px;
    font-weight: bold;
    left: 0;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
    z-index: 1;
}

.mod-head-model-001{{{cns}}} .mod-meter {
    float: left;
    height: 123px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    margin-left: 59px;
    margin-top: -90px;
    width: 22px;
}

.mod-head-model-001{{{cns}}} .mod-meter .mod-meter-image {
    background-image:url(/resources/knobs/Record_meter.png{{{ns}}});
    background-position: left 0px;
    background-repeat: no-repeat;
    background-size: auto 124px;
    height: 124px;
    width: 10px;
    margin-top: 0px;
    position: relative;
    z-index: 2;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 2px 2px 2px 0px #000 inset, -1px -1px 1px 1px #888 inset;
}

.mod-head-model-001{{{cns}}} .mod-meter .mod-meter-image-right {
    background-image:url(/resources/knobs/Record_meter.png{{{ns}}});
    background-position: left 0px;
    background-repeat: no-repeat;
    background-size: auto 124px;
    height: 124px;
    width: 10px;
    margin-top: 0px;
    margin-left: 11px;
    position: relative;
    z-index: 2;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 2px 2px 2px 0px #000 inset, -1px -1px 1px 1px #888 inset;
}

/* ENUMERATED LIST */
.mod-head-model-001{{{cns}}} .mod-enumerated {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000;
    display: inline-block;
    margin-top: -121px;
    overflow: hidden;
    position: absolute;
    left: 45px;
    top: -11px;
    width: 80px;
}

.mod-head-model-001{{{cns}}} .mod-enumerated .mod-enumerated-selected {
    font-size: 19px;
    height: 38px;
    line-height: 2.5;
    margin-right: 8px;
    overflow: hidden;
    padding: 0 9px;
}

/* WHEN IS HOVER */
.mod-head-model-001{{{cns}}} .mod-enumerated:hover .mod-enumerated-selected {
    border-radius: 4px 4px 0 0;
}

/* THE LIST OF OPTIONS */
.mod-head-model-001{{{cns}}} .mod-enumerated .mod-enumerated-list {
    background: rgba(255,255,255,.85);
    border-radius: 4px;
    box-shadow:inset 1px 1px 10px #000;
    display: none;
    font-size: 19px;
    height: auto;
    overflow: auto;
    position: relative;
    width: 80px;
    z-index: 5;
}

.mod-head-model-001{{{cns}}} .mod-enumerated .mod-enumerated-list > div {
    padding: 3px 9px;
}

.mod-head-model-001{{{cns}}} .mod-enumerated .mod-enumerated-list > div:hover {
    background: rgba(0,0,0,.35);
    cursor: pointer;
}

/* SEPARATOR */
.mod-head-model-001{{{cns}}} .mod-separator {
    background: #000;
    display: inline-block;
    float: left;
    height: 69px;
    margin-top: 2px;
    width: 1px;
}
